@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Prevent blue tap highlights and text selection on tablets */
  html, body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    overscroll-behavior: none;
  }
}
